!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    title Chess club
    meta(name="viewport", content=" user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1;")
    meta(name="description", content="A Wilson banda creation")
    meta(name="author", content="Wilson Banda")
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/styles.css", rel="stylesheet")
  body
    block content

